<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.BoardFileMapper">
    <!--1. 게시글 작성시 파일 추가 -->
    <insert id="createBoardFile" parameterType="com.weaverloft.ganttchart.dto.BoardFile">
        <selectKey resultType="java.lang.Integer" keyProperty="fileNo" order="BEFORE">
            select BOARD_FILE_FILE_NO_SEQ.nextval from dual
        </selectKey>
    insert into board_file(file_no, SAVE_FILE_NAME,ORIGINAL_FILE_NAME,FILE_PATH, file_size, board_no)
    values(#{fileNo},#{saveFileName},#{originalFileName},#{filePath},#{fileSize},#{boardNo})
    </insert>
    <!-- 2. 게시글 번호로 파일 리스트 찾기 -->
    <select id="findByBoardNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.BoardFile">
        select * from BOARD_FILE where BOARD_NO=#{boardNo} order by FILE_NO asc
    </select>
<!--    3. 파일번호로 파일 찾기-->
    <select id="findFileByNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.BoardFile">
        select * from BOARD_FILE where FILE_NO = #{fileNo}
    </select>
<!--    4. 파일번호로 파일 삭제-->
    <delete id="deleteFile" parameterType="java.lang.Integer">
        delete BOARD_FILE where FILE_NO = #{fileNo}
    </delete>

</mapper>