<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.BoardMapper">
<!--1. 게시글 전체 찾기    -->
    <select id="findBoardList" resultType="com.weaverloft.ganttchart.dto.Board">
        select * from board
    </select>
<!--1-1. 필터링된 게시글 전체 개수    -->
    <select id="countBoard" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from board
        where 1=1
        <if test="keyword != null">
            and (u_id like '%'||#{keyword}||'%' or board_title like '%'||#{keyword}||'%' or board_content like '%'||#{keyword}||'%')
        </if>
    </select>
<!--1-2. 전처리 된 게시글리스트    -->
    <select id="findBoardList2" parameterType="java.util.Map" resultType="com.weaverloft.ganttchart.dto.Board">
        select *
        from(select rownum idx, b.*
        from (select *
        from board
           order by board_no
        <if test="filterType != null  and filterType != ''">
            ,${filterType} ${ascDesc}
        </if>) b
        where 1=1
        <if test="keyword != null and keyword != ''">
             and (u_id like '%'||#{keyword}||'%' or board_title like '%'||#{keyword}||'%' or board_content like '%'||#{keyword}||'%')
        </if>
        )
        <![CDATA[ where idx >= #{contentBegin} and idx <= #{contentEnd} ]]>


    </select>
<!--2. 게시글 번호로 게시글 찾기    -->
    <select id="findBoardByNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Board">
        select * from board where board_no=#{boardNo}
    </select>
<!--2. 아이디로 게시글 찾기    -->
    <select id="findBoardByUId" parameterType="java.lang.String" resultType="com.weaverloft.ganttchart.dto.Board">
        select * from board where u_id=#{uId}
    </select>
<!--3. 가장 최근 게시물번호 찾기 -->
    <select id="findCurNo" resultType="java.lang.Integer">
        select board_board_no_seq.currval from dual
    </select>
<!--4. 게시물 생성    -->
    <insert id="createBoard" parameterType="com.weaverloft.ganttchart.dto.Board">
        <selectKey resultType="java.lang.Integer" keyProperty="boardNo" order="BEFORE">
            select board_board_no_seq.nextval from dual
        </selectKey>
            insert into board(board_no,board_title,board_content,board_date,board_readcount,u_id)
            values(#{boardNo},#{boardTitle},#{boardContent},sysdate,#{boardReadcount},#{uId})
    </insert>
<!--5. 게시물 조회수 올리기    -->
    <update id="increaseReadCount" parameterType="java.lang.Integer">
        update board set board_readcount=board_readcount+1 where board_no=#{boardNo}
    </update>
<!--6. 게시글 수정하기-->
    <update id="updateBoard" parameterType="com.weaverloft.ganttchart.dto.Board">
        update board set board_title=#{boardTitle}, board_content=#{boardContent} where board_no=#{boardNo}
    </update>
<!--7. 조회수 topN 게시글    -->
    <select id="findTopNBoard" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Board">
        select *
        from ( select rownum idx, b.*
               from ( select *
                      from board
                      order by BOARD_READCOUNT desc
                    ) b
             )
        <![CDATA[ where idx <= #{index} ]]>
    </select>
<!--8. 오늘 생긴 게시물        -->
    <select id="countNewBoardPerDay" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(*) from BOARD where TO_CHAR(BOARD_DATE, 'YYYY-MM-DD') = TO_CHAR(#{boardDate}, 'YYYY-MM-DD')
    </select>
<!-- 9. 게시글 삭제   -->
    <delete id="deleteBoard" parameterType="java.lang.Integer">
        delete board where board_no=#{boardNo}
    </delete>
</mapper>