<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.BoardMapper">
    <!--1. 게시글 쓰기-->
    <insert id="createBoard" parameterType="java.util.Map">
        <selectKey resultType="java.lang.Integer" keyProperty="boardNo" order="BEFORE">
            select BOARD_SEQ.nextval from dual
        </selectKey>
        insert into board(board_no, board_title, id, board_date, board_content,board_readcount)
        values (#{boardNo},#{boardTitle},#{id},sysdate,#{boardContent},0)
    </insert>
    <!-- 최근 값 불러오기 -->
    <select id="findCurKey" resultType="java.lang.Integer">
        select BOARD_SEQ.currval from dual
    </select>
    <!--2. 게시글 전체 리스트 보기 ==> 페이징처리 -->
    <select id="findBoardList" parameterType="java.util.Map" resultType="com.weaverloft.ganttchart.dto.Board">
        select *
        from ( select rownum idx, b.*
               from ( select *
                      from board
                      order by BOARD_NO desc
                    ) b
                where 1=1
                      <if test="keyword !=null">
                          and b.BOARD_TITLE like '%'||#{keyword}||'%'
                      </if>
             )
        <![CDATA[ where idx >= #{pageBegin} and idx <= #{pageEnd} ]]>
    </select>

    <!-- 3. 게시글 상세보기 -->
    <select id="findByBoardNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Board">
        select * from BOARD where BOARD_NO=#{boardNo}
    </select>
    <!-- 4. 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="java.lang.Integer">
        delete BOARD where BOARD_NO=#{boardNo}
    </delete>
    <!-- 5. 게시글 수정 -->
    <update id="updateBoard" parameterType="java.util.Map">
        update BOARD set BOARD_TITLE=#{boardTitle}, BOARD_CONTENT=#{boardContent} where id=#{id}
    </update>
    <!-- 6. 게시글 전체 개수 -->
    <select id="findBoardCount" resultType="java.lang.Integer">
        select count(*) from board
    </select>
    <!-- 7. 게시글 조회수 올리기 -->
    <update id="updateBoardReadcount" parameterType="java.lang.Integer">
        update BOARD set BOARD_READCOUNT=BOARD_READCOUNT+1 where BOARD_NO=#{boardNo}
    </update>
    <!-- 8. 조회수 상위 5개 불러오기 -->
    <select id="findBoardTopList" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Board">
        select *
        from ( select rownum idx, b.*
                from ( select *
                        from board
                        order by BOARD_READCOUNT desc
                    ) b
            )
        <![CDATA[ where idx <= #{no} ]]>
    </select>



</mapper>