<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.CommentsMapper">
<!--1. 게시글 번호로 댓글 전체 찾기 -->
    <select id="findCommentByBoardNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Comments">
        select * from comments where board_no=#{boardNo} order by group_no,depth,orders,comments_no asc
    </select>
<!--1-1. 부모댓글 전체 찾기    -->
    <select id="findPreCommentByBoardNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Comments">
        select * from comments where board_no=#{boardNo} and orders=0 order by group_no,depth,orders,comments_no asc
    </select>
<!--2. 댓글 작성하기    -->
    <insert id="createPreComment" parameterType="com.weaverloft.ganttchart.dto.Comments">
        <selectKey resultType="java.lang.Integer" keyProperty="commentsNo" order="BEFORE">
            select comments_comments_no_seq.nextval from dual
        </selectKey>
        insert into COMMENTS(COMMENTS_NO, COMMENTS_CONTENT, COMMENTS_DATE, U_ID, BOARD_NO, GROUP_NO, ORDERS, depth)
        VALUES(#{commentsNo},#{commentsContent},sysdate,#{uId},#{boardNo},#{commentsNo},0,0)
    </insert>
    <insert id="createSubComment" parameterType="com.weaverloft.ganttchart.dto.Comments">
        <selectKey resultType="java.lang.Integer" keyProperty="commentsNo" order="BEFORE">
            select comments_comments_no_seq.nextval from dual
        </selectKey>
        insert into COMMENTS(COMMENTS_NO, COMMENTS_CONTENT, COMMENTS_DATE, U_ID, BOARD_NO, GROUP_NO, ORDERS, depth)
        VALUES(#{commentsNo},#{commentsContent},sysdate,#{uId},#{boardNo},#{groupNo},#{orders},#{depth})
    </insert>
<!--3. 내가 작성한 댓글 전체 보기  -->
    <select id="findCommentByuId" parameterType="java.lang.String" resultType="com.weaverloft.ganttchart.dto.Comments">
        select * from comments where u_id=#{uId} order by comments_date asc
    </select>
<!--4. 작성하는 댓글 밑으로 orders 증가시키기   -->
    <update id="changeOrders" parameterType="java.util.Map">
        update Comments set orders=orders+1 where board_no=#{boardNo} and orders>=#{orders}
    </update>
<!--5. 같은 그룹에 같은 오더번호 찾기    -->
    <select id="findSameOrders" parameterType="java.util.Map" resultType="com.weaverloft.ganttchart.dto.Comments">
        select * from comments where board_no=#{boardNo} and group_no=#{groupNo} and orders=#{orders}
    </select>
</mapper>

