<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.ErrorLogMapper">
    <!-- 1. 로그 남기기   -->
    <insert id="createLog" parameterType="java.util.Map">
        <selectKey resultType="java.lang.Integer" keyProperty="errorNo" order="BEFORE">
            select ERROR_LOG_ERROR_NO_SEQ.nextval from dual
        </selectKey>
        insert into Error_Log(Error_no,ERROR_DESC,ERROR_date,ERROR_LOcation)
        values (#{errorNo},#{errorDesc},sysdate,#{errorLocation})
    </insert>

</mapper>