<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weaverloft.ganttchart.mapper.MenuMapper">
<!--1. 메뉴 작성하기    -->
    <insert id="createMenu" parameterType="com.weaverloft.ganttchart.dto.Menu">
        <selectKey resultType="java.lang.Integer" keyProperty="menuNo" order="BEFORE">
            select MENU_MENU_NO_SEQ.nextval from dual
        </selectKey>
        insert into menu(menu_no,menu_order,menu_title,menu_url,menu_desc,parent_id,use_yn)
        values(#{menuNo},#{menuOrder},#{menuTitle},#{menuUrl},#{menuDesc},#{parentId},#{useYN})
    </insert>
<!-- 2. 메뉴번호로 메뉴 찾기   -->
    <select id="fineMenuByNo" parameterType="java.lang.Integer" resultType="com.weaverloft.ganttchart.dto.Menu">
        select * from MENU where MENU_NO=#{menuNo}
    </select>
<!-- 3. 메뉴 삭제하기   -->
    <delete id="deleteMenu" parameterType="java.lang.Integer">
        delete menu where MENU_NO=#{menuNo}
    </delete>
<!-- 4. 메뉴리스트 전체 불러오기   -->
    <select id="findMenuList" parameterType="java.util.Map" resultType="com.weaverloft.ganttchart.dto.Menu">
        select *
        from (select rownum idx, m.*
              from menu m
              order by  MENU_NO desc )
        <![CDATA[ where idx >= #{pageBegin} and idx <= #{pageEnd} ]]>
    </select>
<!-- 5. 전체 메뉴 개수    -->
    <select id="findMenuCount" resultType="java.lang.Integer">
        select count(*) from menu
    </select>
</mapper>